<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vacay</title>
	</head>
	<body>
		<h1>Welcome,</h1>
		<h2>{{name}}</h2><br>
		Your perks are:<br>
		{{#each perks}}
		{{this}}<br>
		{{/each}}
	</body>
</html>
